*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/compiler.xml
.idea/runConfigurations.xml
.idea/compiler.xml
.idea/gradle.xml
app/src/main/java/com/example/fdope/tresb/DB/DB.java
app/src/main/java/com/example/fdope/tresb/DB/DB.java
app/src/main/java/com/example/fdope/tresb/DB/DB.java
.idea/misc.xml
.idea/compiler.xml
.idea/compiler.xml
